.content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .contentContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.content .contentContainer .infoArea {
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: 13px;
    align-items: center;
    background-color: #ffe9ed;
}

.content .contentContainer .featuredArea {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.content .contentContainer .featuredArea .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .contentContainer .featuredArea .featuredContainer {
    display: flex;
    gap: 10px;
}

.content .contentContainer .featuredArea .featuredContainer .featuredItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    transition: 400ms ease-in-out all;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.content .contentContainer .featuredArea .featuredContainer .featuredItem:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    background-color: #000;
}

.content .contentContainer .featuredArea .featuredContainer .featuredItem img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-in-out;
    object-fit: cover;
}

.content .contentContainer .featuredArea .featuredContainer .featuredItem:hover img {
    transform: scale(1.7);
    opacity: 0.2;
}

.content .contentContainer .featuredArea .featuredContainer .featuredItem:hover h2,
.content .contentContainer .featuredArea .featuredContainer .featuredItem:hover h3 {
    z-index: 2;
    color: #fff;
}

.content .contentContainer .featuredArea .featuredContainer .featuredItem>h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    transition: all 400ms ease-in-out;
    text-transform: capitalize;
}

.content .contentContainer .featuredArea .featuredContainer .featuredItem>h3 {
    font-size: 14px;
    font-weight: 400;
    transition: all 400ms ease-in-out;
}

.content .featuredItemsArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.content .featuredItemsArea .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .featuredItems {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.content .featuredItems .featuredItemsContainer {
    position: relative;
    width: 32%;
    flex-grow: 1;
    cursor: pointer;
}

.content .featuredItems .featuredItemsContainer #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 400ms ease-in-out;
    top: 0;
    left: 0;
    visibility: hidden;
}

.content .featuredItems .featuredItemsContainer:hover #overlay {
    cursor: pointer;
    visibility: visible;
}

.content .featuredItems .featuredItemsContainer:hover .textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.content .featuredItems .featuredItemsContainer img {
    width: 100%;
    object-fit: cover;
}

.content .featuredItems .featuredItemsContainer .textContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #fff;
    z-index: 3;
    transition: all 400ms ease-in-out;
    transition-delay: 50ms;
    font-weight: 900;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.content .featured {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.content .featured .title {
    font-size: 20px;
    font-weight: bold;
}


.content .featured .fItems {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content .featured .fItems .fItemsContainer {
    width: 24%;
    flex-grow: 1;
    cursor: pointer;
}

.content .featured .fItems .fItemsContainer img {
    width: 100%;
    object-fit: cover;
}

.content .featured .fItems .fItemsContainer .textContainer .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

.content .featured .fItems .fItemsContainer .textContainer .city {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.727);
}

.content .featured .fItems .fItemsContainer .textContainer .price {
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.827);
}

.content .featured .fItems .fItemsContainer .textContainer .footerText {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin: 10px 0;
}

.content .featured .fItems .fItemsContainer .textContainer .footerText button {
    background-color: #003580;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.content .featured .fItems .fItemsContainer .textContainer .footerText span {
    font-weight: 500;
    color: #000;
}

.content .discountContainer {
    display: flex;
    padding: 30px;
    background: url("https://t-cf.bstatic.com/static/img/genius-banner-world-bg/2b5cdbad7b92073bc396b8b59d0bb421b3a01cba.png") 100% 0 no-repeat;
    border: 1px solid #eaeaea;
    margin: 20px 0;
}


.content .discountContainer .discountInnerContainer .discountTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.content .discountContainer .discountInnerContainer .discountSubTitle {
    font-size: 14px;
    margin-bottom: 10px;
}

.content .discountContainer .discountInnerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .discountContainer .discountInnerContainer .discountBtnContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content .discountContainer .discountInnerContainer .discountBtnContainer button {
    padding: 8px 12px;
    background-color: #fff;
    color: #009fe3;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.content .discountContainer .discountInnerContainer .discountBtnContainer button:hover {
    background-color: rgba(29, 108, 226, 0.1) !important;
}

.content .discountContainer .discountInnerContainer .discountBtnContainer button:nth-child(1) {
    border: 1px solid #009fe3;
}

.content .contentContainer .effectArea {
    border: 1px solid #eaeaea;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    height: 250px;
}

.content .contentContainer .effectArea .effectContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .contentContainer .effectArea .leftCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #feba02;
    position: absolute;
    top: 60%;
    left: -20px;
    z-index: 1;
}

.content .contentContainer .effectArea .mainCircle {
    width: 500px;
    height: 340px;
    border-radius: 50%;
    background-color: #003580;
    position: absolute;
    top: -20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .contentContainer .effectArea .mainCircle .mainCircleInner {
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
}

.content .contentContainer .effectArea .mainCircle .mainCircleInner div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.content .contentContainer .effectArea .mainCircle .mainCircleInner div .typed {
    text-decoration: underline;
    text-decoration-color: #feba02;
}

.content .contentContainer .effectArea .mainCircle button {
    color: #003580;
    background-color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 10px 0 0 0;
    font-weight: 400;
}

.content .contentContainer .effectArea .rightImage {
    height: 250px;
    position: absolute;
    top: 13%;
    right: 8%;
}

.content .contentContainer .effectArea .rightImage img {
    height: 200px;
    object-fit: contain;
}

.content .contentContainer .effectArea .effectBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
}