.hotelDetails {
    display: flex;
    flex-direction: column;
}

.hotelDetails section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    flex: 1;
}

.hotelDetails .hotelDetailsArea {
    flex: 1;
    max-width: 1024px;
    width: 100%;
    display: flex;
    gap: 20px 0;
    justify-content: space-between;
    flex-direction: column;
}