.navbar {
    background-color: #013074;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.navbar .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
}

.navbar .navbarContainer .userArea  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
}

.navbar .navbarContainer .userArea .username {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}

.navbar .navbarContainer .userArea button{
    background-color: #fff;
    border: none;
    color: #013074;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px;
}

.navbar .navbarContainer .navbarLogo .navbarTitle {
    font-size: 1.5em;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

.navbar .navbarContainer .navbarButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar .navbarContainer .navbarButtons .navbarBtn {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
    color: #0071c2;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.navbar .navbarContainer .navbarButtons .navbarBtn:hover {
    opacity: 0.9;
}