.navbar {
    background-color: #013074;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.navbar .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
}

.navbar .navbarContainer .navbarLogo .navbarTitle {
    font-size: 1.5em;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

.navbar .navbarContainer .navbarButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar .navbarContainer .navbarButtons .navbarBtn {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
    color: #0071c2;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.navbar .navbarContainer .navbarButtons .navbarBtn:hover {
    opacity: 0.9;
}